<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>消费</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="./Public/Admin/Member/css/adminStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
 <div class="wrap">
  <div class="page-title">
    <span class="modular fl"><i class="add"></i><em>会员消费</em></span>
    <span class="modular fr"><a href="?p=Admin&c=User&a=index" class="pt-link-btn">会员列表</a></span>
  </div>
  <form action="index.php?p=Admin&c=User&a=expense" method="post">
  <table class="list-style">
   <tr>
    <td style="text-align:right;width:15%;">选择套餐：
    </td>
    <td>
     <input type="hidden" name="user_id" value="<?=$user_id?>">
     <select name="plan_id" >
      <?php foreach($plan_data as $k=>$v):?>
          <option value="<?=$v['plan_id']?>"><?=$v['name'].'-'.$v['des']?> <?=$v['money']?>元</option>
      <?php endforeach;?>
     </select>
    </td>
   </tr>
   <tr>
    <td style="text-align:right;width:15%;">服务员工：</td>
    <td>
     <select name="member_id" >
      <?php foreach($new_arr as $k=>$v):?>
          <option value="" disabled>Part:&nbsp; <?=$k?></option>
          <?php foreach($v as $v1):?>
               <option value="<?=$v1['member_id']?>"><?=$v1['username']?></option>
          <?php endforeach;?>
      <?php endforeach;?>
     </select>
    </td>
   </tr>
   <tr>
    <td style="text-align:right;width:15%;">代金券：</td>
    <td>
     <input type="text"  name="code"><a target= "_blank" href="?p=Admin&c=Code&a=getOneUserCodes&user_id=<?=$user_id?>" style="font-size: 12px;color : skyblue;"> 去看看我的代金券 </a>
    </td>
   </tr>
   <tr>
    <td style="text-align:right;"></td>
    <td><input type="submit" value="消费" class="tdBtn"/></td>
   </tr>
  </table>
  </form>
 </div>
</body>
</html>