<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>会员充值</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="./Public/Admin/Member/css/adminStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
 <div class="wrap">
  <div class="page-title">
    <span class="modular fl"><i class="add"></i><em>会员充值</em></span>
    <span class="modular fr"><a href="?p=Admin&c=User&a=index" class="pt-link-btn">会员列表</a></span>
  </div>
  <form action="index.php?p=Admin&c=User&a=recharge" method="post">
  <table class="list-style">
   <tr>
    <td style="text-align:right;width:15%;">会员名称：
     <input type="hidden" name="user_id" value="<?=$row['user_id']?>">
    </td>
    <td><input type="text"  readonly name="username" value="<?=$row['username']?>" class="textBox length-long"/></td>
   </tr>
   <tr>
    <td style="text-align:right;width:15%;">金额：</td>
    <td><input type="number" name="money" class="textBox length-long"/></td>
   </tr>
   <tr>
    <td style="text-align:right;"></td>
    <td><input type="submit" value="充值" class="tdBtn"/></td>
   </tr>
  </table>
  </form>
 </div>
</body>
</html>