<!DOCTYPE html>
<html lang="en">
</head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="./Public/Admin/Member/css/adminStyle.css" rel="stylesheet" type="text/css" />
<script src="./Public/Admin/Member/js/jquery.js"></script>
<script src="./Public/Admin/Member/js/public.js"></script>
</head>
<body>

<form action="index.php?p=Admin&c=Order&a=insert" method="post">
    　　　　
    <textarea name="reply" id="" cols="30" rows="10"></textarea><br/>
    <input type="hidden" name="roder_id" value="<?=$roder_id?>">
   　　　 <input type="submit" value="提交">
</form>

</body>
</html>