
<div class="wrap">
    <div class="page-title">
        <span class="modular fl"><i class="user"></i><em>员工列表</em></span>
        <span class="modular fr"><a href="?p=Admin&c=Plans&a=plans" class="pt-link-btn">+添加员工</a></span>
    </div>
    <table class="list-style Interlaced">
        <tr>
            <th>套餐名称</th>
            <th>套餐描述</th>
            <th>套餐金额</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        <?php foreach($rows as $v):?>
        <tr>
            <td class="center"><?=$v['name']?></td>
            <td class="center"><?=$v['des']?></td>
            <td class="center"><?=$v['money']?></td>
            <td class="center"><?=$v['status']==1?'上线':'下线'?></td>

            <td class="center">
                <a href="index.php?p=Admin&c=plans&a=plans&id=<?=$v['plans_id']?>"><img src="./Public/Admin/Member/images/icon_edit.gif" alt="修改"/></a>
            </td>
        </tr>
        <?php endforeach;?>
    </table>
</div>
