<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>添加员工</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="./Public/Admin/Member/css/adminStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
 <div class="wrap">
  <div class="page-title">
    <span class="modular fl"><i class="add"></i><em>添加员工</em></span>
    <span class="modular fr"><a href="?p=Admin&c=Member&a=index" class="pt-link-btn">员工列表</a></span>
  </div>
  <form action="index.php?p=Admin&c=Member&a=add" method="post">
  <table class="list-style">
   <tr>
    <td style="text-align:right;width:15%;">用户名：</td>
    <td><input type="text" name="username" class="textBox length-long"/></td>
   </tr>
   <tr>
    <td style="text-align:right;width:15%;">姓名：</td>
    <td><input type="text" name="username" class="textBox length-long"/></td>
   </tr>
   <tr>
    <td style="text-align:right;">所属部分：</td>
    <td>
     <select class="textBox" name="group_id">
      <optgroup label="西餐">
      <option value="1">洗脚部</option>
      </optgroup>
      <optgroup label="中餐">
      <option>洗剪吹</option>
      </optgroup>
     </select>
    </td>
   </tr>
   <tr>
    <td style="text-align:right;">密码：</td>
    <td>
     <input type="password" name="password" class="textBox length-long"/>
    </td>
   </tr>
   <tr>
    <td style="text-align:right;">性别：</td>
    <td>
     <input type="radio" value="1" checked name="sex"> 男
     <input type="radio" value="0" name="sex"> 女
    </td>
   </tr>
   <tr>
    <td style="text-align:right;">手机：</td>
    <td>
     <input type="text" name="telephone" class="textBox length-long"/>
    </td>
   </tr>
   <tr>
    <td style="text-align:right;">是否管理员：</td>
    <td>
     是 <input type="radio" value="1" name="is_admin">
     否 <input type="radio" value="0" checked name="is_admin"></td>
   </tr>
   <tr>
    <td style="text-align:right;">头像：</td>
    <td>
     <input type="file" id="suoluetu" class="hide" name="photo"/>
     <label for="suoluetu" class="labelBtnAdd">+</label>
    </td>
   </tr>
   <tr>
    <td style="text-align:right;"></td>
    <td><input type="submit" value="添加新员工" class="tdBtn"/></td>
   </tr>
  </table>
  </form>
 </div>
</body>
</html>