<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>添加套餐</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="./Public/Admin/Member/css/adminStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="wrap">
    <div class="page-title">
        <span class="modular fl"><i class="add"></i><em>添加套餐</em></span>
    </div>
    <form action="index.php?p=Admin&c=Plan&a=insert" method="post" enctype="multipart/form-data">
        <table class="list-style">
                <td style="text-align:right;width:15%;">套餐名称：</td>
                <td><input type="text" name="name" class="textBox length-long"/></td>
            </tr>

            <tr>
                <td style="text-align:right;">套餐描述：</td>
                <td>
                    <input type="text" name="des" class="textBox length-long"/>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">套餐金额：</td>
                <td>
                    <input type="text" name="money" class="textBox length-long"/>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">是否上线：</td>
                <td>
                    是 <input type="radio" value="1" name="status">
                    否 <input type="radio" value="0" checked name="status"></td>
            </tr>
            <tr>
                <td style="text-align:right;"></td>
                <td><input type="submit" value="添加套餐" class="tdBtn"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>