<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>左侧导航</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="./Public/Admin/Index/style/adminStyle.css" rel="stylesheet" type="text/css" />
<script src="./Public/Admin/Index/js/jquery.js"></script>
<script src="./Public/Admin/Index/js/public.js"></script>
</head>
<body style="background:#313131">
<div class="menu-list">
 <a href="main.html" target="mainCont" class="block menu-list-title center" style="border:none;margin-bottom:8px;color:#fff;">起始页</a>
 <ul>
    <li class="menu-list-title">
     <span>员工管理</span>
     <i>◢</i>
    </li>
    <li>
       <ul class="menu-children">
          <li>
           <a href="index.php?p=Admin&c=Member&a=index" title="员工列表" target="mainCont">员工列表</a>
          </li>
          <li>
           <a href="index.php?p=Admin&c=Member&a=add" title="添加员工" target="mainCont">添加员工</a>
          </li>
       </ul>
    </li>
 
    <li class="menu-list-title">
       <span>代金券</span>
       <i>◢</i>
    </li>
    <li>
       <ul class="menu-children">
           <li><a href="index.php?p=Admin&c=Code&a=select" title="代金券列表" target="mainCont">代金券列表</a></li>
       </ul>
    </li>
  
    <li class="menu-list-title">
     <span>会员管理</span>
     <i>◢</i>
    </li>
    <li>
        <ul class="menu-children">
           <li><a href="index.php?p=Admin&c=User&a=index" title="会员列表" target="mainCont">会员列表</a></li>
           <li><a href="index.php?p=Home&c=Login&a=register" title="添加会员" target="mainCont">添加会员</a></li>
           <li><a href="index.php?p=Admin&c=Vip&a=index" title="会员等级" target="mainCont">会员等级</a></li>
           <li><a href="index.php?p=Admin&c=Index&a=user_message" title="会员留言" target="mainCont">会员留言</a></li>
        </ul>
    </li>
  
    <li class="menu-list-title">
       <span>预约管理</span>
       <i>◢</i>
    </li>
    <li>
       <ul class="menu-children">
           <li><a href="index.php?p=Admin&c=Order&a=select" title="预约处理" target="mainCont">状态回复</a></li>

           <li><a href="index.php?p=Admin&c=Index&a=admin_list" title="站点基本设置" target="mainCont">站点管理员</a></li>
       </ul>
    </li>
  
    <li class="menu-list-title">
        <span>美发套餐</span>
        <i>◢</i>
    </li>
    <li>
       <ul class="menu-children">
          <li><a href="index.php?p=Admin&c=Plan&a=plan" title="美发套餐" target="mainCont">美发套餐</a></li>
          <li><a href="index.php?p=Admin&c=Plan&a=insert " title="添加套餐" target="mainCont">添加套餐</a></li>
       </ul>
    </li><li class="menu-list-title">
        <span>赠送规则</span>
        <i>◢</i>
    </li>
    <li>
       <ul class="menu-children">
          <li><a href="index.php?p=Admin&c=Recharge_rule&a=index" title="规则列表" target="mainCont">规则列表</a></li>
          <li><a href="index.php?p=Admin&c=Recharge_rule&a=add " title="添加规则" target="mainCont">添加规则</a></li>
       </ul>
    </li>
     <li class="menu-list-title">
        <span>商城管理</span>
        <i>◢</i>
    </li>
    <li>
       <ul class="menu-children">
          <li><a href="index.php?p=Admin&c=goods&a=index" title="商品列表" target="mainCont">商品列表</a></li>
          <li><a href="index.php?p=Admin&c=goods&a=add " title="添加商品" target="mainCont">添加商品</a></li>
       </ul>
    </li>
    <li class="menu-list-title">
        <span>日志记录</span>
        <i>◢</i>
    </li>
    <li>
       <ul class="menu-children">
            <li><a href="index.php?p=Admin&c=History&a=index" title="全部记录" target="mainCont">全部记录</a></li>
            <li><a href="index.php?p=Admin&c=History&a=sort" title="排行榜" target="mainCont">排行榜</a></li>
       </ul>
    </li>
 </ul>
</div>
</body>
</html>