<!DOCTYPE html>
<html lang="en">
<head>

    <title></title>
</head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="./Public/Admin/Member/css/adminStyle.css" rel="stylesheet" type="text/css" />
<script src="./Public/Admin/Member/js/jquery.js"></script>
<script src="./Public/Admin/Member/js/public.js"></script>
</head>
<body>
<table class="list-style Interlaced" border="1px" cellspacing="0" cellpadding="0" >

    <div class="page-title">
        <span class="modular fl"><i class="user"></i><em>订单系统</em></span>　　　　　
        　　<form action="" name="serach" method="get">
            <input type="hidden" name="p" value="Admin">
            <input type="hidden" name="c" value="Indent">
            <input type="hidden" name="a" value="index">
               是否付款 <select name="is_pay" id="">
            <option value="">全部</option>
            <option value="0" <?=($get['is_pay']??'')==0?'selected':''?>>未付款</option>
            <option value="1" <?=($get['is_pay']??'')==1?'selected':''?>>已付款</option>
        </select>
        <!-- 关键字 -->
        地址和订单号关键字 <input type="text" name="keyword"  size="15" value="<?=$get['keyword']??''?>"/>
        <input type="submit" value=" 搜索 " class="button" />
        </form>
    </div>

    <tr>
        <th>会员id</th>
        <th>商品id</th>
        <th>订单号</th>
        <th>付款</th>
        <th>收获地址</th>
        <th>是否发货</th>
        <th>下单时间</th>
        <th>操作</th>

    </tr>
    <?php foreach($rows['indent'] as $v):?>
    <tr>

        <td class="center"><?=$user[$v['user_id']]['username']?></td>

        <td class="center"><?=$goods[$v['goods_id']]['goods_name']?></td>
        <td class="center"><?=$v['order_num']?></td>
        <td class="center"><?=$v['is_pay']==1?"已付款":"未付款"?></td>
        <td class="center"><?=$v['addr']?></td>
        <td class="center"><?=$v['is_send']==1?"已发货":"待发货"?></td>
        <td class="center"><?=date("Y-m-d",$v['time'])?></td>

        <td class="center">
            <?php if($v['is_send'] == 0){ ?>

            <a href="index.php?p=Admin&c=Indent&a=send&goodsordr_id=<?=$v['goodsordr_id']?>" onclick="window.confirm('确认发货?')">发货</a>
            <?php   }else{?>
            <a href="#" onclick="javascript:void(0)"> -- </a>
            <?php }?>
        </td>
    </tr>
    <?php endforeach;?>
</table>
                <a href="index.php?p=Admin&c=Indent&a=index&page=1">第一页</a>
                <a href="index.php?p=Admin&c=Indent&a=index&page=<?=$rows['page_s']?>">上一页</a>
                <a href="index.php?p=Admin&c=Indent&a=index&page=<?=$rows['page_x']?>">下一页</a>
                <a href="index.php?p=Admin&c=Indent&a=index&page=<?=$rows['yeshu']?>">最后一页</a>
                　　第<?=$rows['page']??'?'?>页　共<?=$rows['zongtiao']??'?'?>条　共<?=$rows['yeshu']??'?'?>页
</body>
</html>