<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>添加部门</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="./Public/Admin/Member/css/adminStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
 <div class="wrap">
  <div class="page-title">
    <span class="modular fl"><i class="add"></i><em>添加部门</em></span>
    <span class="modular fr"><a href="?p=Admin&c=Member&a=index" class="pt-link-btn">部门列表</a></span>
  </div>
  <form action="index.php?p=Admin&c=Group&a=add" method="post">
  <table class="list-style">
   <tr>
    <td style="text-align:right;width:15%;">部门名称：</td>
    <td><input type="text" name="name" class="textBox length-long"/></td>
   </tr>
   <tr>
    <td style="text-align:right;"></td>
    <td><input type="submit" value="添加" class="tdBtn"/></td>
   </tr>
  </table>
  </form>
 </div>
</body>
</html>