<!DOCTYPE html>
<html lang="en">
<head>

    <title></title>
</head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="./Public/Admin/Member/css/adminStyle.css" rel="stylesheet" type="text/css" />
<script src="./Public/Admin/Member/js/jquery.js"></script>
<script src="./Public/Admin/Member/js/public.js"></script>
</head>
<body>
<table class="list-style Interlaced" border="1px" cellspacing="0" cellpadding="0" >

    <div class="page-title">
        <span class="modular fl"><i class="user"></i><em>预约列表</em></span>

    </div>

    <tr>
        <th>代码</th>
        <th>代金券金额</th>
        <th>状态</th>
        <th>操作</th>

    </tr>
    <?php foreach($code as $v):?>
    <tr>
        <td class="center"><?=$v['code']?></td>
        <td class="center"><?=$v['money']?></td>
        <td class="center"><?=$v['status']==1?"未使用":"已使用"?></td>
        <td class="center">
            <a href="index.php?p=Admin&c=Code&a=delete&code_id=<?=$v['code_id']?>">删除</a>
            <a href="index.php?p=Admin&c=Code&a=insert">添加</a>
        </td>
    </tr>
    <?php endforeach;?>
</table>
</body>
</html>